version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 100
    allow:
      - dependency-type: "direct"
    ignore:
      - dependency-name: "PyGObject"    # older version on purpose, 3.51+ has problems
    labels:
      - "dependencies"
      - "automatic-merge"
